/**
 * kagyu red (based on CMYK conversion, doesn't look like that though) #d90026
 * really it's #d22238
 * PT Sans instead of Myriad Pro. Closest font in Google Font
 **/


/* Basic text formatting */
body {
    font-family: 'Maven Pro', sans-serif;
    font-size: 16px;
    color: #727272;
}
.sidebar {
    font-size: 14px;
}

a {
    text-decoration: none;
    color: #d22238;
}
p {
    margin: 1em 0;
}
.unstyled-list {
    list-style-type: none;
}
h2 {
    font-size: 2em;
    font-weight: bold;
    color: #d22238;
    text-align: center;
    margin: 1em 0 1em;
}
h3 {
    font-size: 1.4em;
    color: inherit;
    text-align: center;
    margin: 1em 0 1em;
}
.sidebar h3 {
    text-align: left;
}
h4 {
    font-size: 1.6em;
    color: #d22238;
    text-align: left;
    font-weight: bold;
}
ul,
li {
    margin-bottom: 0;
}
a.big-red-button {
    background-color: #d22238;
    border-radius: 5px;
    font-size: 1.6em;
    display: block;
    margin: 1em auto;
    color: white;
    padding: 0.5em 1em;
    max-width: 340px;
    text-align: center;
}
.centered-text {
    text-align: center;
    display: block;
    width: 100%;
    font-size: 1.4em;
}
.highlighted {
    color: #d22238;
}
.button-text {
    font-size: 1em;
    font-style: italic;
    text-align: left;
    display: block;
    max-width: 340px;
    margin: -0.5em auto 0.7em;
}
#logo-top {
    border-bottom: 1px solid #d22238;
    margin: 0 0 15px;
}
#logo-top #dwb-logo {
    width: 235px;
    height: 47px;
    background: url(../images/01-logo@2x-HU.png);
    background-size:     cover;
    background-repeat:   no-repeat;
    background-position: center center;
    position: relative;
    top: 13px;
    float: right;
}
/* top menu */
.navbar-list {
    margin: 0.8em 0;
    height: 1.8em;
}
.navbar-list li:first-child {
    margin-left: 0;
}
.navbar-list li {
    list-style: none;
    display: block;
    float: left;
    margin: 0em 1em;
}
.navbar-list li a {
    text-decoration: none;
    color: #727272;
}
@media only screen and (max-width: 600px) {
    .navbar-list {
        margin: 0.8em 0;
        width: 100%;
    }
    .navbar-list li {
        list-style: none;
        display: inline-block;
        width: 100%;
        text-align: center;
        padding: 0.25em 0;
        border-bottom: 1px solid #efefef;
        margin: 0;
    }
    .navbar-list li:last-child {
        border: none;
    }
    .centered-text {
        font-size: 1.2em;
    }
}
.main-photo,
.article-photo {
    margin-bottom: 1em;
    width: 100%;
}
.center-map {
 width: 100%;
}
